<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="register-form">
        <h3>Register Page</h3>
        <form action="/register" method="POST">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username">
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="text" name="email">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <button>Register</button>
        </form>
        <a href="/login">Login</a>
    </div>
</body>
</html>