<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>

</head>
<body>
    
    <h3>Welcome, <%=username%></h3>
    <h4>Here's your current statistics</h4>
    <p>min time of one calculation: <%=mintime%></p>
    <p>average time of one calculation: <%=averagetime%></p>
    <p>total number of trial sample: <%=totoltrialnumber%></p>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</body>
</html>